@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}


.title{
  font-family: 'Oswald', sans-serif;
  color: aliceblue;
  text-align: center;

}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 'area area area area';
  gap: 40px;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  text-align: center;
  color: white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.item1 {
  grid-area: area;
  background-color: rgb(26, 26, 27);
  height: 70px;
  padding-top: 15px;
}

  .tarjeta {
    background-color:rgb(26, 26, 27);
    height: 520px;
    border-radius: 10px;
    box-shadow: 10px 10px green
    
  }

  .flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
  }

  .img1 {
    width: 275px;
    height: 400px;
    margin-top: 30px;
    box-shadow: 10px 10px rgb(10, 10, 10);
    margin-bottom: 15px;
  }

.boton{
    background-color: green;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    color: aliceblue;
    font-size: large;
    font-family: 'Oswald', sans-serif;
}

.boton:hover{
  background-color: rgb(87, 194, 87);
  color: black;
}

 
