@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    }

.portada{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 150px;

    }

.navbar{
    margin:0 ;
    padding:0 ;
    background-color: rgb(27, 214, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    }


.navbar a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(150, 12, 168);
    font-family: "Patrick Hand", serif;
    padding: 12px;
    text-align: center;
    font-weight: bolder;
    }

.navbar .activo:hover {

    background-color: rgb(120, 243, 151);
    
    }

.img1{
    height: 175px;
    width: 225px;
    padding-left: 50px;
    float: left;
    margin-right: 20px;
    }

.titulo{
    color:rgb(150, 12, 168);
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-family: "Atma", serif;
    }

.text-description{
    font-size: 22px;
    text-align: justify;
    margin-left: 40px;
    font-family: "Patrick Hand", serif;
    margin-bottom: 20px;
    }

.boton{
    padding: 5px 16px;
    margin-left: 293px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(27, 214, 89);
    color: rgb(150, 12, 168);
    border: 2px solid rgb(150, 12, 168);
    font-family: "Patrick Hand", serif;
    text-decoration: none;
    }

    .boton:hover{
        background-color: rgb(120, 243, 151);
        }

.blog { 
    grid-area: area-blog;
    }

.menu {
    margin-top: 50px;
    grid-area: area-menu;
    margin-left:  150px;
    color:  rgb(25, 148, 66);
    
    }

.grid-container{
    display: grid;
    grid-template-areas:
    ' area-blog area-blog area-blog area-menu';
    }

.posts{
    text-align: center;
    margin-right: 50px;
    font-family: "Atma", serif;
    
    
    }

.opcion{
    text-decoration: none;
    padding-bottom: 50px;
    color: rgb(150, 12, 168);
    font-family: "Patrick Hand", serif;
    }

li{
    padding-top: 20px;
    }

.footer{
    margin-top: 50px;
    display: grid;
    grid-template-areas: 'area-left area-left area-right area-right' 
                         'area-down area-down area-down area-down';
    background-color: rgb(27, 214, 89);
    padding-top: 30px ;
    color:rgb(150, 12, 168) ;
    font-family: "Patrick Hand", serif;
}

.footer-left{
    grid-area: area-left;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.footer-right{ 
    grid-area: area-right;
    
}

.footer-down{
    grid-area: area-down;
    text-align: center;
    background-color:  rgb(25, 148, 66);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-title{
    text-align: right;
    margin-right: 275px;
    padding-bottom: 10px;
    font-family: "Atma", serif;
}

.footer-title2{
    font-family: "Atma", serif;
}
.footer-text{
    display: grid;
    grid-template-columns: 200px 150px 150px 150px;

}

/***************************************************************************************************************/
/**************************************************Nosotros****************************************************/
/***************************************************************************************************************/


.titulo2{
    color:rgb(150, 12, 168);
    font-size: 50px;
    padding-top: 40px;
    padding-left: 50px;
    font-family: "Atma", serif;
    text-align: center;

}

.nosotros-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 'area area area area';
    gap: 10px;
    font-family: 'Oswald', sans-serif;
    padding: 50px;
    text-align: center;
    
    
}

.tarjeta {
    background-color: rgb(27, 214, 89);
    height: 350px;
    width: 300px;
    border-radius: 5px;
    background-image: url(img/abstract-3343966_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100px;
}


.people-img{
    border-radius: 80px;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 150px;
    height: 150px;
}

.people-text{
    color:rgb(150, 12, 168) ;
    font-family: "Atma", serif;
    text-shadow: 1px 1px 2px black;
}

.icon_text{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icon_text2{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.icono{
    float: left;
}

.occupation-text{
    color: white;
    margin-bottom: 8px;
    font-family: "Patrick Hand", serif;
    text-shadow: 3px 1px 2px rgb(150, 12, 168) ;

}




/***************************************************************************************************************/
/**************************************************Contactos****************************************************/
/***************************************************************************************************************/


.grid-container2{
    display: grid;
    grid-template-areas:
    ' area-contact area-contact area-ayuda area-ayuda';
    }


.contact { 
    color:  rgb(52, 173, 93);
    margin-left: 100px;
    grid-area: area-contact;
    width: 300px;
    display: grid;
    margin-top: 90px;
    background-color: rgb(150, 12, 168) ;
    border-radius: 20px;
    padding: 20px;

    }
    
    .contact h1{
        font-family: "Atma", serif;
        font-size: 30px;
    }   

    .contact p{
        font-family: "Patrick Hand", serif;
        font-size: 18px;
    }

.icon-flex{
    display: flex;
    margin-bottom: 10px;
}

.icon-flex img{
    margin: 4px;


}

.grid-ayuda {
     grid-area: area-ayuda;
     width: 700px;
     background-color: rgb(150, 12, 168) ;
     border-radius: 20px;
     margin-top: 60px;
     padding: 20px;
     color:  rgb(52, 173, 93);
    }

    .grid-ayuda h1{
        font-family: "Atma", serif;
        font-size: 30px;
    }
    
    .grid-ayuda label{
        font-family: "Patrick Hand", serif;
        font-size: 18px;
    }

    .grid-ayuda input{
        font-family: "Patrick Hand", serif;
        font-size: 15px;
    }

    .grid-ayuda select{
        font-family: "Patrick Hand", serif;
        font-size: 15px;
    }

.formtext{
    width: 650px;
    height: 30px;
    margin-bottom: 10px;
}

.formtext2{
    resize: none;
    width: 650px;
    height: 200px;
    margin-top: 10px;
    font-family: "Patrick Hand", serif;
}

.enviar{
    background-color: rgb(27, 214, 89);
    color: rgb(150, 12, 168) ;
    margin-left: 580px;
    width: 75px;
    height: 30px;
    border-radius: 10px;
    font-family: "patrick Hand", serif;
    font-size: 20px;
}
