.bg{
    clip-path: polygon(0 0, 100% 0%, 100% 89%, 0 100%);
    position: relative;
    width: 1100px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
}

.cover{
    position: absolute;
    top: 270px;
    left: 180px;
    box-shadow: 3px 3px 10px white;

}

.titulo{
    position: absolute;
    top: 260px;
    left: 400px;
    color: azure;
}

.battle{
    position: absolute;
    top: 305px;
    left: 400px;
    color: aliceblue;

}

.heart{
    position: absolute;
    top: 370px;
    left: 430px;

}

.likes{
    position: absolute;
    top: 351px;
    left: 455px;
    color: aliceblue;
}

.PG-13{
    position: absolute;
    top: 292px;
    left: 570px;
    background-color: rgb(214, 214, 6);
    border-radius: 8px;

}

main{
    background-color: rgb(77, 75, 75);
    position: relative;
    height: 1000px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.lorem{
    position: absolute;
    left: 400px;

}

.link{
    position: absolute;
    top: 538px;
    left: 400px;
    color: green;

}

.grid-container{
    position: absolute;
     margin-left: auto;
     margin-right: auto;   
     display: grid;
     grid-template-columns: auto auto auto;
     width: 190px;
     top: 580px;
     left: 400px;
}




