*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}


.title{
    color: rgb(255, 4, 222);
    font-size: 50px;
}

.cuadrao{
    background-color: rgb(13, 230, 157);  
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: 150px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.95;
    
}

.label1{
    font-size: 35px;
    color: rgb(255, 4, 222);
}

.bruno{
    color: rgb(255, 4, 222);
    background-color: rgb(75, 255, 84);
    border-color: rgb(255, 4, 222); 
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
}

.bruno2{
    color: rgb(255, 4, 222);
    font-size: 25px;
}




input { 
    margin-top: 10px;
    width: 70px;
    text-align: center;
    color: rgb(255, 0, 0);
}