@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oswald:wght@300&display=swap');

body{
    background-color: rgb(207, 206, 206);
}

header{
    background-color:black ;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main{
    background-color:black ;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    width: 65%;
    margin-left: auto;
    margin-right: auto; 
}

.logo{
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.titulo{
    color: yellow;
    text-align: center;
    font-family: 'Nova Square', sans-serif;
    padding-top: 20px;
    
}

.portada{
   margin-left: 230px;
}

.cines{
    color: aliceblue  ;
    font-size: 35px;
    text-align: center;
    font-family: 'Nova Square', sans-serif;
}

.texto{
    color: aliceblue;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cines1{
    color: aliceblue ;
    text-align: center;
    font-family: 'Nova Square', sans-serif;}

.boton{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(153, 4, 4);
    font-size: larger;
    color: white;
    text-align: center;
    border-color: burlywood;
    border-width: 3px;
    width: 300px;
    font-family: 'Nova Square', sans-serif;
    margin-top: 20px;
    }
    
    .boton:hover{
        background-color: #04AA6D;
         
    }

.separation{
     padding-top: 40px;
     padding-bottom: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
    }

.film{
    padding-top: 40px;
     padding-bottom: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}

.flex-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 65%; 
    color: #04AA6D;
    justify-content: space-around;
    padding-top: 20px; ;
    padding-bottom: 20px;
    
    
    
}

.footer_text{
    font-size: 14px;

}
